version: '3'
services:
  redis:
    image: redis
    volumes:
      - db_data:/data
  web:
    depends_on:
      - redis
    build: .
    ports:
      - "5000:8080"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
volumes:
  db_data: {}
